@import "macchiato.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 11pt;
  min-height: 0;
}

#waybar {
  background: alpha(@base, 0.5);
  color: @text;
  margin: 0px 0px;
}

#workspaces {
  margin: 3px;
  background: rgba(0,0,0,0);
  margin-left: 20px;
}

#workspaces button {
  border-radius: 0px;
  color: @lavender;
  padding: 0.1rem 0.2rem;
  border-bottom: solid 2px @text;
}

#workspaces button.active {
  color: @red;
  border-bottom: solid 2px @red;
}

#workspaces button:hover {
  color: @blue;
}

#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-mic,
#custom-lock,
#custom-emoji,
#custom-bluetooth,
#custom-network,
#custom-power {
  color: @text;
  background-color: @bg;
  padding: 0.1rem 14px;
  margin: 0px 6px;
  border-bottom: solid 2px @text;
}

#custom-music2 {
  padding-left: 20px;
}

#custom-bluetooth {
  padding-right: 17px;
}

#custom-network {
  padding-right: 11px;
}

#custom-cc {
  background-color: alpha(@blue, 0.5);
  color: @red;
  font-size: 22;

  padding: 0rem 4px 0rem 0;
  /* border-bottom: solid 2px @blue; */
  margin-right: 1rem; 
}

#custom-music2,
#custom-music-controls-next,
#custom-music-controls-prev,
#custom-music-controls-status {
  background-color: @bg;
  padding: 0.2rem 0.3rem;
  margin: 0px 0px;
  border-bottom: solid 2px @text;
}

#custom-music-controls-status {
  padding-right: 0;
}

#custom-music-controls-prev {
  padding-left: 1rem;
}

#custom-music-controls-next {
  margin-right: 6px;
}

#clock {
  margin-right: 20px;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
}

#custom-music {
  color: @mauve;
}

#custom-lock {
    color: @lavender;
}

#custom-power {
    color: @red;
}

#custom-mic {
    color: #55ff55; /* Default color for unmuted */
}

#custom-mic {
    color: #ff5555; /* Red for muted */
}

#tray {
}
